{% extends 'master.html' %}

{% block titulo %} Búsqueda de una serie o película por su plataforma de streaming {% endblock %}

{% block contenido %}
<div class="jumbotron text-center">
    <form id="formulario" method="post" action='' class="form-signin card card-signin" style="background-color: #e3f2fd;padding: 50px;">{% csrf_token %}
        <fieldset class="form-group">
            <label for="title" class="h4" style="margin-bottom: 25px;">Plataforma de streaming</label>
            <select class="d-inline custom-select" name="plataformas" required>
				<option value='Netflix'>Netflix</option>
				<option value='Amazon Prime Video'>Amazon Prime Video</option>
				<option value='HBO'>HBO</option>
				<option value='Movistar Plus'>Movistar Plus</option>
				<option value='Disney Plus'>Disney Plus</option>
				<option value='Atres Player'>Atres Player</option>
				<option value='Filmin'>Filmin</option>
				<option value='Rakuten TV'>Rakuten TV</option>
				<option value='Apple TV Plus'>Apple TV Plus</option>
				<option value='Crunchyroll'>Crunchyroll</option>
			</select>
            <button class="btn btn-secondary btn-block d-inline mt-2" type="submit">Realizar búsqueda</button>
        </fieldset class="form-group">
    </form>
</div>

{% if peliculas %}
	<div class="container">
		<label for="peliculas" class="h4 text-center" style="margin-bottom: 25px;">Películas</label>
	</div>
    <div class="container">
		<div class="row">
			{% for pelicula in peliculas %}
			<div class="col" style="padding-bottom:30px">
				<div class="card" style="width: 18rem;">
					<a href="/peliculas/{{pelicula.id}}"><img class="card-img-top" src="{{pelicula.poster}}" alt="Poster"></a>
					<div class="card-body">
						<h5 class="card-title">{{pelicula.titulo}}</h5>
						<p class="card-text">Director: {{pelicula.director}}</p>
					</div>
				</div>
			</div>
			{% endfor %}	
		</div>
	</div>
	{% endif %}
	
	{% if series %}
	<div class="container">
		<label for="series" class="h4" style="margin-bottom: 25px;">Series</label>
	</div>
    <div class="container">
		<div class="row">
			{% for serie in series %}
			<div class="col" style="padding-bottom:30px">
				<div class="card" style="width: 18rem;">
					<a href="/series/{{serie.id}}"><img class="card-img-top" src="{{serie.poster}}" alt="Poster"></a>
					<div class="card-body">
						<h5 class="card-title">{{serie.titulo}}</h5>
						<p class="card-text">Temporadas: {{serie.temporadas}}</p>
					</div>
				</div>
			</div>
			{% endfor %}	
		</div>
	</div>	
    {% endif %}
</div>
{% endblock %}