{% extends 'master.html' %}

{% block titulo %} Búsqueda de una serie o película por su genero {% endblock %}

{% block contenido %}
<div class="jumbotron text-center">
    <form id="formulario" method="post" action='' class="form-signin card card-signin" style="background-color: #e3f2fd;padding: 50px;">{% csrf_token %}
        <fieldset class="form-group">
            <label for="title" class="h4" style="margin-bottom: 25px;">Géneros</label>
            <select class="d-inline custom-select" name="generos" required>
				<option value='Acción & Aventura'>Acción & Aventura</option>
				<option value='Animación'>Animación</option>
				<option value='Comedia'>Comedia</option>
				<option value='Crimen'>Crimen</option>
				<option value='Documental'>Documental</option>
				<option value='Drama'>Drama</option>
				<option value='Fantasía'>Fantasía</option>
				<option value='Historia'>Historia</option>
				<option value='Terror'>Terror</option>
				<option value='Familia'>Familia</option>
				<option value='Música'>Música</option>
				<option value='Misterio & Suspense'>Misterio & Suspense</option>
				<option value='Romance'>Romance</option>
				<option value='Ciencia Ficción'>Ciencia Ficción</option>
				<option value='Deporte'>Deporte</option>
				<option value='Guerra'>Guerra</option>
				<option value='Western'>Western</option>
				<option value='Reality TV'>Reality TV</option>
				<option value='Made in Europe'>Made in Europe</option>
			</select>
            <button class="btn btn-secondary btn-block d-inline mt-2" type="submit">Realizar búsqueda</button>
        </fieldset class="form-group">
    </form>
</div>

{% if peliculas %}
	<div class="container">
		<label for="peliculas" class="h4 text-center" style="margin-bottom: 25px;">Películas</label>
	</div>
    <div class="container">
		<div class="row">
			{% for pelicula in peliculas %}
			<div class="col" style="padding-bottom:30px">
				<div class="card" style="width: 18rem;">
					<a href="/peliculas/{{pelicula.id}}"><img class="card-img-top" src="{{pelicula.poster}}" alt="Poster"></a>
					<div class="card-body">
						<h5 class="card-title">{{pelicula.titulo}}</h5>
						<p class="card-text">Director: {{pelicula.director}}</p>
					</div>
				</div>
			</div>
			{% endfor %}	
		</div>
	</div>
	{% endif %}
	
	{% if series %}
	<div class="container">
		<label for="series" class="h4" style="margin-bottom: 25px;">Series</label>
	</div>
    <div class="container">
		<div class="row">
			{% for serie in series %}
			<div class="col" style="padding-bottom:30px">
				<div class="card" style="width: 18rem;">
					<a href="/series/{{serie.id}}"><img class="card-img-top" src="{{serie.poster}}" alt="Poster"></a>
					<div class="card-body">
						<h5 class="card-title">{{serie.titulo}}</h5>
						<p class="card-text">Temporadas: {{serie.temporadas}}</p>
					</div>
				</div>
			</div>
			{% endfor %}	
		</div>
	</div>	
    {% endif %}
</div>
{% endblock %}