{% extends 'master.html' %}

{% block titulo %} Búsqueda de una serie o película por su título {% endblock %}

{% block contenido %}
<div class="jumbotron text-center">
    <form id="formulario" method="post" action='' class="form-signin card card-signin" style="background-color: #e3f2fd;padding: 50px;">{% csrf_token %}
        <fieldset class="form-group">
            <label for="title" class="h4" style="margin-bottom: 25px;">Título de la serie o película</label>
            <input class="form-control d-inline" type="text" name="titulo" id="titulo" placeholder="Título de la serie o película" style="margin-bottom: 25px;"/>
            <button class="btn btn-secondary btn-block d-inline mt-2" type="submit">Realizar búsqueda</button>
        </fieldset class="form-group">
    </form>
</div>

	{% if peliculas %}
	<div class="container">
		<label for="peliculas" class="h4 text-center" style="margin-bottom: 25px;">Películas</label>
	</div>
    <div class="container">
		<div class="row">
			{% for pelicula in peliculas %}
			<div class="col" style="padding-bottom:30px">
				<div class="card" style="width: 18rem;">
					<a href="/peliculas/{{pelicula.id}}"><img class="card-img-top" src="{{pelicula.poster}}" alt="Poster"></a>
					<div class="card-body">
						<h5 class="card-title">{{pelicula.titulo}}</h5>
						<p class="card-text">Director: {{pelicula.director}}</p>
					</div>
				</div>
			</div>
			{% endfor %}	
		</div>
	</div>
	{% endif %}
	
	{% if series %}
	<div class="container">
		<label for="series" class="h4" style="margin-bottom: 25px;">Series</label>
	</div>
    <div class="container">
		<div class="row">
			{% for serie in series %}
			<div class="col" style="padding-bottom:30px">
				<div class="card" style="width: 18rem;">
					<a href="/series/{{serie.id}}"><img class="card-img-top" src="{{serie.poster}}" alt="Poster"></a>
					<div class="card-body">
						<h5 class="card-title">{{serie.titulo}}</h5>
						<p class="card-text">Temporadas: {{serie.temporadas}}</p>
					</div>
				</div>
			</div>
			{% endfor %}	
		</div>
	</div>	
    {% endif %}
</div>

{% endblock %}