{% extends 'master.html' %}

{% block titulo %}StreamSurfer{% endblock %}


{% block contenido %}

<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center" style="margin-bottom: 400px;">
    <div class="card card-signin" style="background-color: #e3f2fd;">
        <div class="card-body text-center">
            <h5 class="card-title">¿Qué es StreamSurfer?</h5>
            <p class="card-text">Con StreamSurfer podrás realizar acciones de listado y búsquedas de las series y películas
                más populares recientemente.<br /> Además, se podrán realizar acciones de sistemas de recomendación como
                son buscar series y películas recomendadas dada una determinada.</p>
            <br/>
            <p class="card-text">Actualmente el sistema contiene {{num_peliculas}} peliculas y {{num_series}} series</p>
        </div>
    </div>
    <div clas="text-center">
        <img class="my-5" src="https://i.ibb.co/6wy39vf/logo.png" />
    </div>
</div>


{% endblock %}