{% extends 'master.html' %}

{% block titulo %} Listado de películas populares {% endblock %}

{% block contenido %}
<div class="container">
	<div class="row">
		{% for pelicula in peliculas %}
		<div class="col" style="padding-bottom:30px">
			<div class="card" style="width: 18rem;">
				<a href="/peliculas/{{pelicula.id}}"><img class="card-img-top" src="{{pelicula.poster}}" alt="Poster"></a>
				<div class="card-body">
					<h5 class="card-title">{{pelicula.titulo}}</h5>
					<p class="card-text">Director: {{pelicula.director}}</p>
				</div>
			</div>
		</div>
		{% endfor %}	
	</div>
</div>	
{% endblock %}