{% extends 'master.html' %}

{% block titulo %} Listado de series populares {% endblock %}

{% block contenido %}
<div class="text-center table-responsive">
	<table class="table table-striped table-hover table-info w-100 h-auto" style="margin-bottom: 180px;">
		<thead class="thead-dark">
			<tr class="text-center">
				<th class="align-middle" scope="col">#</th>
				<th class="align-middle" scope="col">Póster</th>
				<th class="align-middle" scope="col">Título</th>
				<th class="align-middle" scope="col">Géneros</th>
				<th class="align-middle" scope="col">Título original</th>
				<th class="align-middle" scope="col">Fecha de estreno</th>
				<th class="align-middle" scope="col">Puntuación en IMDB</th>
				<th class="align-middle" scope="col">Temporadas</th>
				<th class="align-middle" scope="col">Opciones de streaming</th>
			</tr>
		</thead>
		<tbody>
			{% for serie in series %}
				<tr class="text-center">
					<th class="align-middle" scope="row">{{forloop.counter}}</th>
					<td class="align-middle"><img width="150" alt="Poster" src="{{serie.poster}}" /></td>
					<td class="align-middle">{{serie.titulo}}</td>
					<td class="align-middle">
					{% for genero in serie.generos.all %}
						{% if not forloop.last %}
							<a>{{genero.nombre}},</a>
						{% endif %}
						{% if forloop.last %}
							<a>{{genero.nombre}}</a>
						{% endif %}
					{% endfor %}
					</td>
					<td class="align-middle">{{serie.tituloOriginal}}</td>
					<td class="align-middle">{{serie.fechaEstreno}}</td>
					<td class="align-middle">{{serie.imdb}}</td>
					<td class="align-middle">{{serie.temporadas}}</td>
					<td class="align-middle">
					{% for stream in serie.streams.all %}
						{% if stream.plataforma == "Netflix" %}
							<a href="{{stream.link}}" target="_blank"><img class="w-75 p-1" alt="Icon" src="https://images.justwatch.com/icon/207360008/s100"/></a>
						{% endif %}
						{% if stream.plataforma == "Rakuten TV" %}
							<a href="{{stream.link}}" target="_blank"><img class="w-75 p-1" alt="Icon" src="https://images.justwatch.com/icon/128599720/s100"/></a>
						{% endif %}
						{% if stream.plataforma == "Amazon Prime Video" %}
							<a href="{{stream.link}}" target="_blank"><img class="w-75 p-1" alt="Icon" src="https://images.justwatch.com/icon/52449861/s100"/></a>
						{% endif %}
						{% if stream.plataforma == "Atres Player" %}
							<a href="{{stream.link}}" target="_blank"><img class="w-75 p-1" alt="Icon" src="https://images.justwatch.com/icon/179272126/s100"/></a>
						{% endif %}
						{% if stream.plataforma == "HBO" %}
							<a href="{{stream.link}}" target="_blank"><img class="w-75 p-1" alt="Icon" src="https://images.justwatch.com/icon/3748099/s100"/></a>
						{% endif %}
						{% if stream.plataforma == "Movistar Plus" %}
							<a href="{{stream.link}}" target="_blank"><img class="w-75 p-1" alt="Icon" src="https://images.justwatch.com/icon/5985414/s100"/></a>
						{% endif %}
						{% if stream.plataforma == "Disney Plus" %}
							<a href="{{stream.link}}" target="_blank"><img class="w-75 p-1" alt="Icon" src="https://images.justwatch.com/icon/147638351/s100"/></a>
						{% endif %}
						{% if stream.plataforma == "Filmin" %}
							<a href="{{stream.link}}" target="_blank"><img class="w-75 p-1" alt="Icon" src="https://images.justwatch.com/icon/187161245/s100"/></a>
						{% endif %}
						{% if stream.plataforma == "Apple TV Plus" %}
							<a href="{{stream.link}}" target="_blank"><img class="w-75 p-1" alt="Icon" src="https://images.justwatch.com/icon/152862153/s100"/></a>
						{% endif %}
						{% if stream.plataforma == "Crunchyroll" %}
							<a href="{{stream.link}}" target="_blank"><img class="w-75 p-1" alt="Icon" src="https://images.justwatch.com/icon/127445869/s100"/></a>
						{% endif %}
					{% endfor %}
					{% if serie.streams.all|length == 0 %}
						<a>Sin opciones de streaming</a>
					{% endif %}
					</td>
				</tr>
			{% endfor %}		
		</tbody>
	</table>
</div>
{% endblock %}